* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    background: #e0e0e0;
}

/****Topo****/

#topo {
    background: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo {
    padding: 10px;
}

#logo h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

#logo span {
    color: #ffffff;
}

#menu {
    padding: 10px;
}

#menu a{
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
}

#menu a:hover {
    background: #ffffff;
    color: #f7b600;
}

/****Conteudo****/

#principal {
    width: 920px;
    margin: 15px auto;
}

#conteudo_esquerda {
    float: left;
    width: 630px;
}

.postagens_esquerda {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.postagens_esquerda h2 {
    color: #f7b600;
}

.postagens_esquerda h4 {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.postagens_esquerda p {
    margin: 10px 0px;
}

.postagens_esquerda a {
    color: #f7b600;
    text-decoration: none;
}

.postagens_esquerda a:hover {
    text-decoration: underline;
}



#conteudo_direita {
    float: right;
    width: 260px;
    background: blue;
}



